/coverage
/.nx/**
.angular/**
.husky/**
.docusaurus/
.github/**
.scannerwork/
.eslintcache
.prettierignore
.browserslistrc
dist/**
helm/**
nginx/**
reports/**
node_modules
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/assets/api/*