# Add files here to ignore them from prettier formatting
.angular
.husky
.github
.nx
.husky
.scannerwork
.prettierignore
.browserslistrc

dist
helm
nginx
coverage
reports
node_modules

CHANGELOG.md
README.md
Dockerfile
*.log
*.sh

src/app/shared/generated
src/assets
