@import '/src/app/_tm-mixins.scss';

@include table-zebra-rows;
@include table-inline-buttons;
@include table-responsive-columns;
@include displaying-text-responsive;
@include correct-ocx-interactive-data-view;

:host ::ng-deep .p-calendar-clear-icon {
  right: 1rem;
}

:host ::ng-deep {
  // correct search header
  .search-criteria-container > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 0.5rem;
    column-gap: 3rem;
    .search-criteria-buttons {
      flex-wrap: wrap;
      align-content: center;
      margin-top: unset;
    }
  }
  // reduce nested paddings
  .no-card-padding .card {
    padding-top: 0;
  }

  /* correct header layouting by lib */
  .table-header-wrapper {
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
  }
  .table-header-wrapper span:first-child {
    margin-right: 10px !important;
  }

  .grid-item-card {
    padding: 0.75rem;
    min-width: 15rem;
    cursor: pointer;

    &:hover .p-card {
      background-color: #f5f5f5;
      transition: background-color 0.3s ease;
    }
  }
}

.grid-item-title {
  font-weight: bold;
  padding: 0.5rem;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
