@import '/src/app/_tm-mixins.scss';

@include table-zebra-rows;
@include table-inline-buttons;
@include table-responsive-columns;
@include displaying-text-responsive;
@include correct-ocx-interactive-data-view;

:host ::ng-deep .p-calendar-clear-icon {
  right: 1rem;
}

:host ::ng-deep {
  // correct search header
  .search-criteria-container > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 0.5rem;
    column-gap: 3rem;
    .search-criteria-buttons {
      flex-wrap: wrap;
      align-content: center;
      margin-top: unset;
    }
  }
  // reduce nested paddings
  .no-card-padding .card {
    padding-top: 0;
  }

  /* correct header layouting by lib */
  .table-header-wrapper {
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
  }
  .table-header-wrapper span:first-child {
    margin-right: 10px !important;
  }

  .grid-item-card {
    padding: 0.75rem;
    cursor: pointer;

    &:hover .p-card {
      background-color: #f5f5f5;
      transition: background-color 0.3s ease;
    }
  }

  .p-card-footer {
    display: flex;
    justify-content: end;
  }

  .p-card {
    width: 20rem;
    min-height: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1600px) {
      width: 15rem;
      min-height: 10rem;
    }
  }
}

.grid-item-title {
  font-size: large;
}

.image-container {
  height: 10rem;
  width: 10rem;
  object-fit: contain;

  &.hidden {
    display: none;
  }
}

.default-icon {
  font-size: 7rem;
}

.list-item-row {
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  &:nth-child(odd) {
    background-color: #fafafa;
  }
}

.logo-column {
  width: 3.5rem !important;
  max-width: 3.5rem !important;
  height: 3.5rem;
}

.list-item-logo,
.list-item-default-icon {
  max-height: 3rem;
  max-width: 3rem;
  object-fit: contain;
}

.list-item-default-icon {
  font-size: 2rem;
}
