<ocx-portal-page permission="TENANT#SEARCH" helpArticleId="PAGE_TENANT_SEARCH" *ngrxLet="viewModel$; let vm">
  <ocx-search-header
    [headline]="'TENANT_SEARCH.HEADER' | translate"
    [subheader]="'TENANT_SEARCH.SUB_HEADER' | translate"
    (searched)="onSearch(tenantSearchForm)"
    (resetted)="onResetSearchCriteria()"
    [manualBreadcrumbs]="false"
    [actions]="(headerActions$ | async) ?? []"
    searchConfigPermission="SEARCHCONFIG#USE"
    [viewMode]="vm.viewMode"
    pageName="PAGE_TENANT_SEARCH"
    (viewModeChanged)="viewModeChanged($event)"
    (selectedSearchConfigChanged)="searchConfigInfoSelectionChanged($event)"
  >
    <div [formGroup]="tenantSearchForm" class="flex flex-row flex-wrap gap-3">
      <span class="p-float-label">
        <input
          pInputText
          id="tm_search_orgId"
          type="text"
          class="w-15rem"
          formControlName="orgId"
          [attr.aria-label]="'TENANT_SEARCH.CRITERIA.ORGID' | translate"
          [pTooltip]="'TENANT_SEARCH.TOOLTIPS.ORGID' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="tm_search_orgId" class="text-responsive"> {{ 'TENANT_SEARCH.CRITERIA.ORGID' | translate }} </label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-content-container layout="horizontal">
    <ocx-content class="w-full no-card-padding">
      <ocx-interactive-data-view
        editPermission="TENANT#EDIT"
        [data]="(filteredResults$ | async) || []"
        [columns]="vm.columns"
        viewPermission="TENANT#VIEW"
        searchConfigPermission="SEARCHCONFIG#USE"
        [listGridPaginator]="true"
        [emptyResultsMessage]="'TENANT_SEARCH.EMPTY_RESULTS' | translate"
        [supportedViewLayouts]="['list', 'grid']"
        [layout]="layout"
        (displayedColumnsChange)="onDisplayedColumnsChange($event)"
        [defaultGroupKey]="'TENANT_SEARCH.PREDEFINED_GROUP.DEFAULT'"
        [pageSizes]="[10, 50, 1000]"
      >
        <ng-template #topCenter>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-filter"></i>
            </span>
            <input
              pInputText
              [formControl]="tenantFilterFormControl"
              [placeholder]="'TENANT_SEARCH.FILTER.PLACEHOLDER' | translate"
            />
            <button
              pButton
              type="button"
              icon="pi pi-filter-slash"
              class="p-button-primary"
              (click)="clearTextFilters()"
              [disabled]="!tenantFilterFormControl.value"
              [pTooltip]="'TENANT_SEARCH.FILTER.CLEAR' | translate"
              tooltipPosition="top"
            ></button>
          </div>
        </ng-template>
        <ng-template #gridItem let-item>
          <p-card class="grid-item-card">
            <ng-template pTemplate="header">
              <span class="grid-item-title" (click)="handleOpenEntryDetails(item)">{{
                item['tenantId'] | titlecase
              }}</span>
            </ng-template>
            <div class="grid-item-content" (click)="handleOpenEntryDetails(item)">
              @if (showDefaultIcon(item['id'])) {
                <span class="pi pi-image image-container default-icon"></span>
              }
              <img
                *ngIf="!showDefaultIcon(item['id'])"
                class="image-container"
                (error)="imageLoadFailed(item['id'])"
                (load)="imageLoaded(item['id'])"
                [ocxSrc]="getImageUrl(item['id'])"
                alt="Tenant logo"
              />
              <div>
                <span>Org ID: </span>
                <span>{{ item['orgId'] }}</span>
              </div>
              <div>
                <span>{{ item['description'] }}</span>
              </div>
            </div>
            <ng-template pTemplate="footer" *ocxIfPermission="'ADMIN#EDIT'">
              <p-toast />
              <p-menu #menu [model]="cardMenuItems" [popup]="true" appendTo="body" />
              <p-button (onClick)="openMenu(menu, $event, item)" icon="pi pi-ellipsis-v" />
            </ng-template>
          </p-card>
        </ng-template>
      </ocx-interactive-data-view>
    </ocx-content>

    <ocx-content class="w-full xl:w-3" *ngIf="vm.results.length > 0 && vm.chartVisible && (diagramColumn$ | async)">
      <div class="flex flex-column md:flex-row lg:flex-column justify-content-center">
        <ocx-group-by-count-diagram
          *ngIf="diagramColumn$ | async as diagramColumn"
          [data]="vm.results"
          [column]="diagramColumn"
          sumKey="TENANT_SEARCH.DIAGRAM.SUM"
        ></ocx-group-by-count-diagram>
      </div>
    </ocx-content>
  </ocx-content-container>
</ocx-portal-page>
