openapi: '3.0.2'
info:
  title: onecx-tenant-bff
  version: '1.0'
servers:
  - url: https://localhost:8080
tags:
  - name: tenant
    description: OneCX Tenant BFF
paths:
  /tenants/search:
      post:
        x-onecx:
          permissions:
            tenant:
              - read
        tags:
          - tenant
        summary: Search tenants by criteria
        operationId: searchTenants
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSearchCriteria'
        responses:
          "200":
            description: OK
            content:
              "application/json":
                schema:
                  $ref: "#/components/schemas/TenantPageResult"
          "400":
            description: Bad request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ProblemDetailResponse'
  /tenants:
      post:
        x-onecx:
          permissions:
            tenant:
              - write
        tags:
          - tenant
        summary: Create new tenant
        operationId: createTenant
        requestBody:
          required: true
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateTenantRequest'
        responses:
          "201":
            description: Created
            headers:
              Location:
                required: true
                schema:
                  type: string
                  format: url
          "400":
            description: Bad request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ProblemDetailResponse'
          "404":
            description: Not found
  /tenants/{id}:
      get:
        x-onecx:
          permissions:
            tenant:
              - read
        tags:
          - tenant
        summary: Get Tenant by id
        operationId: getTenant
        parameters:
          - name: id
            in: path
            required: true
            schema:
              type: string
        responses:
          "200":
            description: OK
            content:
              "application/json":
                schema:
                  $ref: "#/components/schemas/Tenant"
          "404":
            description: Not found
      put:
        x-onecx:
          permissions:
            tenant:
              - write
        tags:
          - tenant
        summary: Update tenant
        operationId: updateTenant
        parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        requestBody:
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateTenantRequest'
        responses:
          "200":
            description: OK
            content:
              "application/json":
                schema:
                  $ref: "#/components/schemas/Tenant"
          "400":
            description: Bad request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ProblemDetailResponse'
          "404":
            description: Not found
components:
  schemas:
    TenantSearchCriteria:
      type: object
      properties:
        orgId:
          nullable: true
          type: string
        pageNumber:
          format: int32
          description: The number of page.
          default: 0
          type: integer
        pageSize:
          format: int32
          description: The size of page
          default: 100
          maximum: 1000
          type: integer
    CreateTenantRequest:
      type: object
      required:
        - orgId
        - tenantId
      properties:
        orgId:
          type: string
          description: Id of the organization
        tenantId:
          type: string
          description: Id of the tenant
        description:
          type: string
          description: Description of the tenant
    UpdateTenantRequest:
      type: object
      required:
        - orgId
      properties:
        orgId:
          type: string
          description: Id of the organization
        description:
          type: string
          description: Description of the tenant
    TenantPageResult:
      type: object
      required:
        - stream
        - totalElements
      properties:
        totalElements:
          format: int64
          description: The total elements in the resource.
          type: integer
        number:
          format: int32
          type: integer
        size:
          format: int32
          type: integer
        totalPages:
          format: int64
          type: integer
        stream:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
    Tenant:
      type: object
      required:
        - id
      properties:
        modificationCount:
          format: int32
          type: integer
        creationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        creationUser:
          type: string
        modificationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        modificationUser:
          type: string
        id:
          type: string
        orgId:
          type: string
          description: Id of the organization
        tenantId:
          type: string
          description: Id of the tenant
        description:
          type: string
          description: Description of the tenant
    ProblemDetailResponse:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string
        params:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailParam'
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailInvalidParam'
    ProblemDetailParam:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ProblemDetailInvalidParam:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
    OffsetDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50-04:00