.form-fields-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.form-input {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.image-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.form-grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

.image-preview-column {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  align-items: center;
  justify-content: flex-start;
}

.image-preview {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
