@import '/src/app/_tm-mixins.scss';

@include tabview-fix-color-selected-tab;
@include displaying-text-responsive;
@include readable-disabled-form-controls;

.image-preview {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .image-placeholder {
    font-size: 2rem;
    color: var(--text-color-secondary, #6c757d);
  }
}
